<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fintrex.fintrexfinance">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name="com.fintrex.fintrexfinance.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FintrexFinance"
        android:usesCleartextTraffic="true">

        <activity android:name="com.fintrex.fintrexfinance.Navigation.Promotion"></activity>
        <activity android:name="com.fintrex.fintrexfinance.QuickLinks.Rates" />
        <activity android:name="com.fintrex.fintrexfinance.QuickLinks.NewSavingCreate" />
        <activity android:name="com.fintrex.fintrexfinance.QuickLinks.NewFdCreate" />
        <activity android:name="com.fintrex.fintrexfinance.QuickLinks.FdAndSavings" />
        <activity android:name="com.fintrex.fintrexfinance.Payments.Ezcash" />
        <activity android:name="com.fintrex.fintrexfinance.Payments.Online" />
        <activity android:name="com.fintrex.fintrexfinance.Payments.Cdm" />
        <activity android:name="com.fintrex.fintrexfinance.Payments.Cargills" />
        <activity android:name="com.fintrex.fintrexfinance.QuickLinks.TermsConditions" />
        <activity android:name="com.fintrex.fintrexfinance.QuickLinks.Contacts" />
        <activity android:name="com.fintrex.fintrexfinance.QuickLinks.About" />
        <activity android:name="com.fintrex.fintrexfinance.Details.MailScreen" />
        <activity android:name="com.fintrex.fintrexfinance.Details.NewMailSend" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />

        <activity android:name="com.fintrex.fintrexfinance.QuickLinks.Branches" />
        <activity android:name="com.fintrex.fintrexfinance.QuickLinks.ExternalRequest" />
        <activity android:name="com.fintrex.fintrexfinance.Navigation.Profile" />
        <activity android:name="com.fintrex.fintrexfinance.Otp" />
        <activity android:name="com.fintrex.fintrexfinance.Details.LoanScreen" />
        <activity android:name="com.fintrex.fintrexfinance.Details.SavingScreen" />
        <activity android:name="com.fintrex.fintrexfinance.Details.FixedScreen" />
        <activity android:name="com.fintrex.fintrexfinance.Details.LeasingScreen" />
        <activity android:name="com.fintrex.fintrexfinance.Details.HomeScreen" />
        <activity android:name="com.fintrex.fintrexfinance.Common.DashboardScreen" />
        <activity android:name="com.fintrex.fintrexfinance.Common.LoginScreen" />
        <activity android:name="com.fintrex.fintrexfinance.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>